In [1]:
import transcribe

In [2]:
transcribe.main()

* recording
we wrote to a new file
we wrote to a new file
we wrote to a new file
we wrote to a new file
we wrote to a new file
* done recording
we wrote to a new file
all right we're back at it again no no notice enumerating objects counting objects we rode to any file my got it went through **** yes we take those we take those what we do I think I was

In [4]:
import pandas as pd

In [7]:
pd.DataFrame(columns=["word", "start", "end"])

Empty DataFrame
Columns: [word, start, end]
Index: []

In [3]:
a = [[['leading', 2.01, 2.4],
  ['the', 2.59, 2.72],
  ['pretty', 2.72, 3.54],
  ['lady', 3.57, 4.07]],
 [['you', 4.88, 5.01],
  ['are', 5.44, 5.54],
  ['going', 5.54, 5.93],
  ['to', 5.93, 6.13],
  ['lie', 6.13, 6.7],
  ['about', 6.95, 7.44],
  ['killing', 7.44, 7.89],
  ['people', 7.89, 8.49],
  ['because', 8.52, 9.16],
  ['that', 9.16, 9.41],
  ['is', 9.41, 9.64],
  ['ultimately', 9.67, 10.29],
  ['what', 10.29, 10.49],
  ['life', 10.49, 10.84],
  ['is', 10.84, 10.98],
  ['all', 10.98, 11.26],
  ['about', 11.26, 11.84],
  ['life', 12.25, 12.56],
  ['is', 12.56, 12.66],
  ['about', 12.66, 12.96],
  ['murdering', 12.96, 13.59],
  ['people', 13.59, 14.3]],
 [['because', 16.41, 16.87],
  ['of', 16.87, 16.99],
  ['the', 16.99, 17.13],
  ['fact', 17.13, 17.73],
  ['that', 17.88, 18.2],
  ['people', 18.2, 18.61],
  ["aren't", 18.61, 18.93],
  ['worth', 18.93, 19.23],
  ['surviving', 19.23, 19.97]]]

In [6]:
a[0]

[['leading', 2.01, 2.4],
 ['the', 2.59, 2.72],
 ['pretty', 2.72, 3.54],
 ['lady', 3.57, 4.07]]

In [12]:
import pandas as pd

In [15]:
l1 = a[0]
AB = pd.DataFrame(l1)

In [16]:
l2 = a[1]

In [17]:
l2

[['you', 4.88, 5.01],
 ['are', 5.44, 5.54],
 ['going', 5.54, 5.93],
 ['to', 5.93, 6.13],
 ['lie', 6.13, 6.7],
 ['about', 6.95, 7.44],
 ['killing', 7.44, 7.89],
 ['people', 7.89, 8.49],
 ['because', 8.52, 9.16],
 ['that', 9.16, 9.41],
 ['is', 9.41, 9.64],
 ['ultimately', 9.67, 10.29],
 ['what', 10.29, 10.49],
 ['life', 10.49, 10.84],
 ['is', 10.84, 10.98],
 ['all', 10.98, 11.26],
 ['about', 11.26, 11.84],
 ['life', 12.25, 12.56],
 ['is', 12.56, 12.66],
 ['about', 12.66, 12.96],
 ['murdering', 12.96, 13.59],
 ['people', 13.59, 14.3]]

In [19]:
BC = pd.DataFrame(l2)
pd.concat([AB, BC], axis=0)

             0      1      2
0      leading   2.01   2.40
1          the   2.59   2.72
2       pretty   2.72   3.54
3         lady   3.57   4.07
0          you   4.88   5.01
1          are   5.44   5.54
2        going   5.54   5.93
3           to   5.93   6.13
4          lie   6.13   6.70
5        about   6.95   7.44
6      killing   7.44   7.89
7       people   7.89   8.49
8      because   8.52   9.16
9         that   9.16   9.41
10          is   9.41   9.64
11  ultimately   9.67  10.29
12        what  10.29  10.49
13        life  10.49  10.84
14          is  10.84  10.98
15         all  10.98  11.26
16       about  11.26  11.84
17        life  12.25  12.56
18          is  12.56  12.66
19       about  12.66  12.96
20   murdering  12.96  13.59
21      people  13.59  14.30